<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.shushan.kencanme.app">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- 允许程序设置内置sd卡的读写权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 允许程序获取网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 允许程序访问WiFi网络信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 允许程序读写手机状态和身份 -->
    <!-- <uses-permission android:name="android.permission.READ_PHONE_STATE" /> -->
    <!--
    允许程序访问CellID或WiFi热点来获取粗略的位置
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"
    这个权限会导致部分手机一直提示开启定位权限/>
    -->
    <!-- <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> -->
    <!-- <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- <uses-permission android:name="android.permission.CALL_PHONE" /> -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- Google支付权限 -->
    <uses-permission android:name="com.android.vending.BILLING" />

    <application
        android:name=".KencanmeApp"
        android:allowBackup="false"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="n">
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5d104a194ca357b692000ff5" />

        <activity
            android:name=".mvp.ui.activity.splash.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".mvp.ui.activity.main.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.login.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.recommendUserInfo.RecommendUserInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.reportUser.ReportUserActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.reportUser.DataFraudActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.personInfo.CreatePersonalInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.personInfo.PersonalInfoUploadPhotoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.register.RechargeAgreementActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.vip.OpenVipActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.pay.RechargeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.personInfo.EditMakeFriendsInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.personInfo.EditPersonalInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.personInfo.EditLabelActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".mvp.ui.activity.personInfo.EditContactWayActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".mvp.ui.activity.setting.SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.setting.MessageReminderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.setting.ClearCacheActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.setting.FeedbackProblemActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".mvp.ui.activity.setting.AboutUsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.photo.MyAlbumActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.photo.UploadPhotoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".mvp.ui.activity.photo.LookPhotoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.rongCloud.SystemMsgActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.loveMe.LoveMePeopleActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".mvp.ui.activity.register.EarnBeansActivity" />
        <activity android:name=".mvp.ui.activity.register.MemberAgreementActivity" />
        <activity android:name=".mvp.ui.activity.register.RegisterAgreementActivity" />

        <!-- 融云 -->


        <!-- 此部分代码需要移植到您的 app 下的 manifest，并且 authorities 指定您的包名。例如：com.android.FileProvider -->
        <!-- 否则使用拍照功能时，会崩溃 -->
        <provider
            android:name=".help.MyProvider"
            android:authorities="com.shushan.kencanme.app.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/rc_file_path" />
        </provider>

        <!-- 会话界面 -->
        <activity
            android:name=".mvp.ui.activity.rongCloud.ConversationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="com.shushan.kencanme.app"
                    android:pathPrefix="/conversation/"
                    android:scheme="rong" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".help.NotificationReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="io.rong.push.intent.MESSAGE_ARRIVED" />
                <action android:name="io.rong.push.intent.MI_MESSAGE_ARRIVED" />
                <action android:name="io.rong.push.intent.MESSAGE_CLICKED" />
                <action android:name="io.rong.push.intent.MI_MESSAGE_CLICKED" />
            </intent-filter>
        </receiver>

        <!-- facebook 分享 @string/facebook_app_id -->
        <activity
            android:name="com.umeng.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider387656405197436"
            android:exported="false" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity android:name=".mvp.ui.activity.rongCloud.SystemMsgInfoActivity" />
    </application>

</manifest>